header {
background-color: rgba(177, 166, 14, 0.856)  ;
height: 150px;
padding: 10px 0;
}

nav li {

display: inline;
margin: 0 0 0 15px ;
}

nav a {
 text-decoration: none ;
text-transform: uppercase ;
color: black;
font-size: 22px ;
font-weight: bold ;

}
.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
 nav {
    position: absolute;
    top: 75px ;
    right: 0;
 }
.servicos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.servicos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top ;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
}
.servicos h2 {
    font-size: 30px;
    font-weight: bold;
}
.descricao {
    font-size: 18px;

}
.preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.servicos img{
    width: 200px
}









body{background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUY4sX99nwptySHoobMSjdV-KHiMlUNsCsXM7wisKBCA&s);}