h3{
 color: rgb(255, 255, 42);
 background-color: rgba(252, 28, 28, 0.774);
}
 body{
    background-color: rgba(235, 174, 7, 0.425);
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUY4sX99nwptySHoobMSjdV-KHiMlUNsCsXM7wisKBCA&s);
    text-align: center;
 }

 img{
    width: 400px;
    position: initial;


 }

   footer{ background-color: rgb(255, 102, 0);
   
   }